In [2]:
## Addd two numbers
a= float(input("enter the number1"))
b=float(input("enter the number2"))
c= a + b
print ("the sum of two numbers :",c)

enter the number110
enter the number210
the sum of two numbers : 20.0

In [11]:
##  String Formatting
first_name=input("what is your first namne ?")
last_name= input("what is your last namne ?")
print("My first name is {} last name is {}".format(first_name, last_name) )
print("My first name is {first} last name is {last}".format(last=last_name, first=first_name) )

what is your first namne ?c
what is your last namne ?v
My first name is c last name is v
My first name is c last name is v

In [12]:
## Variable dynamic typing
a=10
type(a)

int

In [13]:
b=10.0

In [14]:
type(b)

float

In [15]:
a="Lovish"
type(a)

str

In [16]:
###srong typing
"Lovish" + 1

TypeError: can only concatenate str (not "int") to str

In [17]:
"Lovish" + str(1)

'Lovish1'

In [18]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
1 + int("2")

3

In [24]:
i=5
a=int(input("enter the number1"))
b=int(input("enter the number2"))
c=a-b
print("output is:",c)
if c<0:
    print("negative")
elif c> 40:
    print("difference is huge")  
else :
    print("positive")

enter the number1100
enter the number250
output is: 50
difference is huge

In [25]:
## Data structures
1.list
2.tuple
3.string
4. dictionary
5.sets

SyntaxError: invalid syntax (<ipython-input-25-f019789b8618>, line 2)

In [26]:
lst =[1,2,3,"lovish","pandey"]
type(lst)

list

In [28]:
type(lst[3])

str

In [29]:
lst.append("python")

In [30]:
lst

[1, 2, 3, 'lovish', 'pandey', 'python']

In [31]:
lst[2]="DS"

In [32]:
lst

[1, 2, 'DS', 'lovish', 'pandey', 'python']

In [33]:
lst.append("lovish")

In [34]:
lst.append("lovish")

In [35]:
lst

[1, 2, 'DS', 'lovish', 'pandey', 'python', 'lovish', 'lovish']

In [36]:
lst.count("lovish")

3

In [37]:
##indexing
str1="Lovish"
str1[3]

'i'

In [39]:
 str1[3]='a'

TypeError: 'str' object does not support item assignment

In [6]:
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [7]:
##list comprehension
[i**2 for i in lst]

[1, 4, 9, 16]

In [29]:
##Sum of even numbers
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=sum([i for i in lst if i%2==0])
print(lst1)
lst2=sum([i for i in lst if i%2!=0])
print(lst2)

30
25

In [2]:
type((1,2,3,4))

tuple

In [4]:
type(tuple([1,2,3,4,5]))

tuple

In [16]:
t1=(1,2,3,'Lovish')
type(t1)

tuple

In [17]:
t1[3]

'Lovish'

In [24]:
t1[3][1]
t1[3:]
t1[:-1]

(1, 2, 3)

In [13]:
t=[1,2,3,'Lovish']

In [14]:
t[3][1]

'o'

In [15]:
type(t)

list

In [30]:
## list is mutable
lst=[1,2,3,4,5]
lst[1]
lst[1]="Lovish"
print(lst)

[1, 'Lovish', 3, 4, 5]

In [32]:
## tuple is immutable
tu=(1,2,3,4,5)
tu[1]
tu[1]="k"

TypeError: 'tuple' object does not support item assignment

In [44]:
r=(1,2,3,1,2,34,5)
r.count(1)

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
type(set((1,2,3,4)))

set

In [47]:
type({1,2,3,4})

set

In [48]:
 type({})

dict

In [49]:
type({1})

set

In [51]:
x1 = {1,2,3,4,5}
x1.add(6)
print(x1)

{1, 2, 3, 4, 5, 6}

In [52]:
x2={2,3,4,5,6,7}

In [53]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [54]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [55]:
x1.intersection_update(x2)
print(x1)

{2, 3, 4, 5, 6}

In [60]:
x1 = {1,2,3,4,5,6}

In [58]:
x1.difference(x2)

{1}

In [61]:
x2.difference(x1)

{7}

In [6]:
x1 ={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

True

In [9]:
list(x1)[2:]

[5]

In [11]:
#### Dictionary 
x2={1:'Lovish',2:"python",3:29}
type(x2)

dict

In [13]:
x2.items()

dict_items([(1, 'Lovish'), (2, 'python'), (3, 29)])

In [19]:

x2.keys()

dict_keys([1, 2, 3])

In [20]:
x2.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [23]:
x2[3]

29

In [24]:
dict = {'k1':123, 'k2':[12,23,33], 'k3':['item0','item1','item2']}

In [27]:
dict['k2'][0]

12

In [28]:
dict['k3'][2]

'item2'

In [29]:
### nesting dictionaries

In [30]:
f={'k1':{'nestkey':{'subnestkey':'value'}}}

In [31]:
f['k1']

{'nestkey': {'subnestkey': 'value'}}

In [35]:
f['k1']['nestkey']['subnestkey']

'value'

In [36]:
##functions
def greeting():
    print ("Hello World")

In [37]:
greeting()

Hello World

In [46]:
# sum of all even numbers 
def even_odd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
         even_sum=even_sum+i 
        else:
          odd_sum=odd_sum+i
    #print(even_sum)
    #print(odd_sum)
    return even_sum,odd_sum

In [47]:
even_odd_sum([1,2,3,4,5,6])

(12, 9)

In [54]:
def lst_add(lst1,lst2):
    sum =[]
    for i in range(lst1):
        sum.append(lst1[i] +lst2[i])
    return(sum)

In [55]:
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]
lst_add(lst1,lst2)

TypeError: 'list' object cannot be interpreted as an integer

In [58]:
## iterators 
for i in "Krish":
    print(i)

K
r
i
s
h

In [59]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [79]:
## iterator
a=iter([1,2,3,4,5])
a

In [ ]:
###lazy evaluation : i tially objext stored in memory but the numbers stored we wont be able to get until called out , positive point is dont require huge s pace

In [83]:
next(a)

StopIteration:

In [82]:
for i in a:
    print(i)

3
4
5

In [1]:
def getCubes(n):
    listofsquares = []
    for i in range(0,5):
        listofsquares.append(i**3)
        return(listofsquares)

In [2]:
getCubes(5)

[0]

In [4]:
##Generator
def getcubes(n):
    
    for num in range(n):
        yield num**3

In [6]:
output=getcubes(5)
output

In [12]:
next(output)

StopIteration:

In [14]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [15]:
import pandas as pd

In [18]:
df=pd.read_csv('ex1.csv')

In [20]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
df.head(1)

   a  b  c  d message
0  1  2  3  4   hello

In [23]:
df['a']

0    1
1    5
2    9
Name: a, dtype: int64

In [24]:
type(df['a'])

pandas.core.series.Series

In [25]:
list(df['a'])

[1, 5, 9]

In [26]:
df.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
df.tail(2)

   a   b   c   d message
1  5   6   7   8   world
2  9  10  11  12     foo

In [28]:
df=pd.read_table('test.tsv')

In [29]:
df

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [31]:
df=pd.read_csv('test.tsv', sep='\t')

In [32]:
df

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [57]:
df=pd.read_table('ex1.csv', sep=',',header=None, names=['a','b','c','d','e'], usecols=['a'])

In [58]:
df

   a
0  a
1  1
2  5
3  9

In [56]:
df=pd.read_table('ex1.csv', sep=',',header=None,names=['a','b','c','d','e'])

In [62]:
 parsed=pd.read_csv('csv_mindex.csv',index_col=['key1', 'key2'])

In [63]:
parsed.index

MultiIndex([('one', 'a'),
            ('one', 'b'),
            ('one', 'c'),
            ('one', 'd'),
            ('two', 'a'),
            ('two', 'b'),
            ('two', 'c'),
            ('two', 'd')],
           names=['key1', 'key2'])

In [67]:
pd.read_csv('ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [68]:
pd.read_csv('C:/Users/Madarchod/Desktop/examples/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [70]:
df=pd.read_csv('ex5.csv')

In [74]:
pd.isnull(df).sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [77]:
df1=pd.read_csv('ex5.csv',na_values=['NULL'])
df1 ###na_values

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [79]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)

In [1]:
import pandas as pd

In [3]:
!pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.4.1)

In [1]:
import pandas as pd